<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Questions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">



    <meta property="al:android:url" content="sharesample://story/1234">
    <meta property="al:android:package" content="io.scal.oigetit">
    <meta property="al:android:app_name" content="Oigetit News">
    <meta property="og:title" content="example page title" />
    <meta property="og:type" content="website" />
</head>
<body class="container bg-secondary" style="margin-top: 50px;">

<% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
<% } %>

<% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
<% } %>

<div class="card bg-dark text-white align-item-center ">
    <div class="card-header">
        Add Question
    </div>
    <div class="card-body">
        <form action="/question_ui/add" method="post">
            <div class="form-group">
                <label>Question:</label>
                <input type="text" class="form-control" name="question" value="<%= question %>" autocomplete="off">
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <div>
                        <label>Category:</label>
                        <select class="browser-default custom-select" name="category" id="category">
                            <option  selected>Select category</option>
                            <option value="sports">Sports</option>
                            <option value="entertainment">Entertainment</option>
                            <option value="politics">Politics</option>
                            <option value="bollywood">Bollywood</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div >
                        <label>Difficulty:</label>
                        <select class="browser-default custom-select" name="difficulty" id="difficulty">
                            <option  selected>Select difficulty level</option>
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >Correct Answer:</label>
                    <input type="text" class="form-control" name="correct" value="<%= correct %>" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                    <label>Option 1:</label>
                    <input type="text" class="form-control" name="option1" value="<%= option1 %>" autocomplete="off">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >Option 2:</label>
                    <input type="text" class="form-control" name="option2" value="<%= option2 %>" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                    <label>Option 3:</label>
                    <input type="text" class="form-control" name="option3" value="<%= option3 %>" autocomplete="off">
                </div>
            </div>



            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Add"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>
<script>

    var x = "<%= category %>";
    console.log(x);
    if(x.trim().length>0)selectElement('category', x.toLowerCase().trim())

    var x2 = "<%= difficulty %>";
    //console.log(x2);
    if(x2.trim().length>0)selectElement('difficulty', x2.toLowerCase().trim())

    function selectElement(id, valueToSelect) {
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }
</script>