<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Questions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">

<% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
<% } %>

<% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
<% } %>

<div class="card">
    <div class="card-header">
        Add Question
    </div>
    <div class="card-body">
        <form action="/question_ui/add" method="post">
            <div class="form-group">
                <label>Question:</label>
                <input type="text" class="form-control" name="question" value="<%= question %>" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Category:</label>
                <input type="text" class="form-control" name="category" value="<%= category %>" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Difficulty:</label>
                <input type="text" class="form-control" name="difficulty" value="<%= difficulty %>" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Correct Ans:</label>
                <input type="text" class="form-control" name="correct" value="<%= correct %>" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Option 1:</label>
                <input type="text" class="form-control" name="option1" value="<%= option1 %>" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Option 2:</label>
                <input type="text" class="form-control" name="option2" value="<%= option2 %>" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Option 3:</label>
                <input type="text" class="form-control" name="option3" value="<%= option3 %>" autocomplete="off">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Add"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>